{#<h3><a href="/">Flask App</a><a href="/home">Home</a> </h3>#}
{#<hr>#}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {#  只有当 request.endpoint 是 index 时 才是 active,否则是其他  #}
        <li class="{% if request.endpoint == 'index' %}active{% endif %}">
            <a href="{{ url_for('index') }}">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not current_user.is_authenticated %}
        {#    登录界面    #}
        <li class="{% if request.endpoint == 'login' %}active{% endif %}">
            <a href="{{ url_for('login') }}">Login In</a>
        </li>
        {#  只有当 request.endpoint 是 index 时 才是 active,否则是其他  #}
        <li class="{% if request.endpoint == 'register' %}active{% endif %}">
            <a href="{{ url_for('register') }}">Register</a>
        </li>
      {% else %}
        {#    登出界面    #}
        <li class="{% if request.endpoint == 'logout' %}active{% endif %}">
            <a href="{{ url_for('logout') }}">Logout</a>
        </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>